.contact-list {
  display: inline-block;
}

.contact-list ul li {
  display: block;
  background: #2f0664;
  color: #fff;
  padding: 10px 25px;
  margin: 10px 0;
  display: flex;
}

.contact-list ul li span {
  display: flex;
}

.contact-list ul li span:first-child {
  margin-right: 10px;
}

.contact-list ul li span:first-child svg {
  margin-right: 8px;
}
