.profile-img {
  margin-bottom: 30px;
}
.profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.profile-wrapper h1 {
  font-size: 24px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 30px;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a {
  color: #fff;
  background: #5d18fc;
  padding: 8px 18px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.4s ease;
}

.navbar ul li a:hover {
  background: #420dbd;
}
